@using ShopQuaTang.Areas.Admin.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "ChonSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Hover Expand Effect -->
<div class="block-header">
    <h2>Chọn Sản Phẩm Để Nhập Kho</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect" style="height:125px;">
                <img src="~/Images/@item.MA_DM/@item.AVA_SP" style="height:100px;width:100px;background-size:cover;margin: 10px;"/>
                <div class="content">
                    <div class="text">
                        <a href="@Url.Action("ChiTietSanPham", "QuanLiSanPham", new { id=item.MA_SP})" style="color:#000000">@item.TEN_SP </a>
                    </div>
                    <div class="number">@item.SL_TON </div>
                    <div class="nhapkho">
                        <a class="btn bg-blue waves-effect" href="@Url.Action("ThemNhapKho", "NhapKho", new { @masp=item.MA_SP,@strURL=Request.Url.ToString()})" style="color:#fff">Nhập Kho</a>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
<!-- #END# Hover Expand Effect -->
<div class="row text-center">
    <ul class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("ChonSanPham", new { page = page }))
    </ul>
</div>
