@using ShopQuaTang.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}

<h2>Kết Quả Sản Phẩm Tìm Được</h2>

<div class="row products products-big">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="product">
                <div class="image"><a href="@Url.Action("ChiTietSanPham","QuaTang",new { id =item.MA_SP})"><img src="~/Images/@item.MA_DM/@item.AVA_SP" alt="" class="img-fluid image1"></a></div>
                <div class="text">
                    <h3 class="h5"><a href="@Url.Action("ChiTietSanPham","QuaTang",new { id =item.MA_SP})">@item.TEN_SP</a></h3>
                    <p class="price"> @String.Format("{0:n0}", item.GIA_SP)</p>
                    @if (item.SL_TON == 0)
                    {
                        <a class="btn btn-template-outlined" style="margin-top:0;" href="#">
                            <i class="fa fa-shopping-cart"></i> Hết Hàng
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-template-outlined" style="margin-top:0;" href="@Url.Action("ThemGioHang", "GioHang", new { @masp=item.MA_SP,@strURL=Request.Url.ToString()})">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </a>
                    }
                </div>
            </div>
        </div>
    }

</div>
<div class="row text-center">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("QuaTangTheoDanhMuc", new { page = page }))
    </div>
</div>


<style>
    .MenuTrang li {
        display: inline;
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        text-align: center;
        border: 1px solid #dee2e6;
        color: #4fbfa8;
    }

        .MenuTrang li a:hover {
            text-decoration: none;
            color: #fff;
        }

        .MenuTrang li:hover {
            background: #4fbfa8;
            color: #ffffff;
        }
</style>