<div class="row products products-big">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="product">
                <div class="image"><a href="@Url.Action("ChiTietSanPham","QuaTang",new { id =item.MA_SP})"><img src="~/Images/@item.MA_DM/@item.AVA_SP" alt="" class="img-fluid image1"></a></div>
                <div class="text">
                    <h3 class="h5"><a href="@Url.Action("ChiTietSanPham","QuaTang",new { id =item.MA_SP})">@item.TEN_SP</a></h3>
                    <p class="price"> @String.Format("{0:n0}",item.GIA_SP)</p>
                    @if (item.SL_TON == 0)
                    {
                        <a class="btn btn-template-outlined" style="margin-top:0;" href="#">
                            <i class="fa fa-shopping-cart"></i> Hết Hàng
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-template-main" style="padding: 5px 20px;margin-top: 10px;" href="@Url.Action("ThemGioHang", "GioHang", new { @item.MA_SP,@masp=item.MA_SP,@strURL=Request.Url.ToString()})">
                            <i class="fa fa-cart-plus"></i>
                        </a>
                    }
                </div>
                <div class="ribbon-holder">
                   @if (item.SL_TON == 0)
                   {
                    <div class="ribbon new">Hết</div>
                   }
                   else
                   {
                       DateTime dn = DateTime.Now;
                       DateTime d = DateTime.Parse(item.NGAYCAPNHAT_SP.ToString());
                       TimeSpan ts = dn - d;

                       if (ts.Days <= 20)
                       {
                        <div class="ribbon sale">NEW</div>
                       }
                   }
                </div>
            </div>
        </div>
    }
   
</div>
